




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style: none;
    background-color: #55559f;
    display: flex;
    justify-content: left; 
    align-items: center;
    padding: 0.5rem 0;
}

li {
    position: relative;
    left: 50px;
    margin-right: 100px;
 
}

li a {
 

    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem 1rem;
    display: flex;
    font-size: 30px;
}


.dropdown-content {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #55559f;
    min-width: 20vw;
    z-index: 1;
    border-radius: 0 0 20px 0;
    visibility: hidden;
   
}

/* sorry maar ik heb hiervoor wel een beetje ai gebruikt om de dropdown menu te laten verdwijnen en weer weer te laten geven*/

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}



.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 100px 0px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.pagina1 {
    background-color: black;
    height: 500px;
}
.hallo {
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 80px;
    color: white;
    font-weight: 1;
}
.text{
    position: relative;
    top: 120px;
    left: 50px;
    color: white;
    width: 450px;
    font-size: 20px;
    
}
.shape {
    width: 800px;
    height: 800px;
    background: #9000ff;
    border-radius: 100%;
    position: relative;
    left: 50%;
    top: -1050px;
}
.knopje, .knopje2 {
    position: relative;
    top: 190px;
    left: 50px;
    width: 200px;
    height: 70px;
    
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.knopje {
    
background-color: black;
outline: 1px solid white;
}
.knopje2 {
    position: relative;
    left: 80px;
background-color: #9000ff;
}
.blok1,
.blok2,
.blok3 {
  position: absolute;
  width: 100px;
  height: 10px;
  top: -60px;
  
}
.blok1 {
  background-color: #9000ff;
  width: 25px;
  left: -65px;
}
.blok2 {
  background-color: #55559f;
  width: 25px;
  left: 30px;
  left: -35px;
}
.blok3 {
  background-color: #b0b0eb;
  left: 60px;
  width: 25px;
  left: -5px;
}
.blokjes {
  position: absolute;
  top: 200px;
  left: 120px;
  width: 5000px;
  height: 10px;
}
.HI {
  position: absolute;
  top: 120px;
  left: 250px;
  width: 70px;
  height: auto;
}


.iphone16 {
    position: absolute;
    top: 130px;
    left: 1050px;
    width: 400px;
    height: 400px;
}
.super-deal {
     position: absolute;
    top: 290px;
    left: 1015px;
    color: white;
    background-color: #9000ff;
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.super-deal2 {
       position: absolute;
    top: 350px;
    left: 1030px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    rotate: -15deg;
}
.simkaart {
    position: absolute;
    top: 440px;
    left: 1200px;
    width: 40px;
    height: 65px;
}
