@font-face {
  font-family: ftltlt;
  src: url(ftltlt-webfont.woff2) format("woff2");
}

.stage {
  position: relative;
  cursor: pointer;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.bannerSize {
  width: 300px;
  height: 600px;
}

.blokjes {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 10px;
}
.blok1,
.blok2,
.blok3 {
  position: absolute;
  width: 30px;
  height: 5px;
  top: 0%;
}
.blok1 {
  background-color: #9000ff;
  width: 15px;
}
.blok2 {
  background-color: #55559f;
  width: 15px;
  left: 20px;
}
.blok3 {
  background-color: #b0b0eb;
  left: 40px;
  width: 15px;
}

.shape {
  position: absolute;
  left: -50px;
  top: 400px;
  width: 400px;
  height: 400px;
  bottom: 0px;
  right: 0px;
  background-color: #7272dd;
  border-radius: 50%;
}
.simkaart {
  position: absolute;
  width: 100px;
  height: auto;
  top: 150px;
  left: 32px;
  rotate: 90deg;
}

.head {
  position: absolute;
  font-size: 80px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  top: 10px;
  left: 0px;
  margin: 0px;
}
.head2 {
  position: absolute;
  top: 70px;
  left: 0px;
  font-weight: 100;
  font-size: 35px;
  color: white;
  font-family: ftltlt;
}
.head3 {
  position: absolute;
  width: 250px;
  font-size: 19px;
  font-weight: 100;
  color: white;
  top: 125px;
  left: 0px;
}
p {
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  width: 250px;
  color: white;
  top: 280px;
  left: 0px;
}
.btn {
  font-family: ftltlt;
  position: absolute;
  top: 460px;
  left: 30px;
  width: 220px;
  height: 60px;
  border-radius: 10px;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: 20px;
}
.hi-foto {
  position: absolute;
  width: 40px;
  height: auto;
  top: 0px;
  left: 180px;
}
