body{
  font-family: ftltlt;
}

@font-face {
  font-family: ftltlt;
  src: url(ftltlt-webfont.woff2);
}

.section-title {
  font-size: 56px;
  color: #9000ff;
  font-weight: 900px;
}
p:first-of-type{
  color: #0d0303;
  font-size: 28px;
   font-weight: 900;
}

a {
  color: #7272dd;
}
.linkie {
  text-decoration-line: none;
}

